conventions = [
        disableDynamicCompile       : false,
        dynamicCompileWhiteList     : [],

        compileStaticExtensions     : [],
        limitCompileStaticExtensions: false,
        defAllowed                  : true,
        skipDefaultPackage          : false
]